@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Quicksand";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: #f5efe7;
  --main-color: #5fb6e9;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--bg-color);
}
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 4rem 15%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
  cursor: pointer;
  margin-right: -30px;
}
.logo {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}
span {
  background: linear-gradient(270deg, #8bc6ec 10%, #9599e2 100%);
  background-clip: text;
  color: transparent;
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3 ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #8bc6ec 10%, #9599e2 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  border: none;
  color: white;
  text-wrap: nowrap;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.2;
}
.gradient-btn:hover {
  transform: scale(1.05);
}
.flag-icon img {
  display: block;
  vertical-align: middle;
  width: 25px; /* Largura */
  height: 18px;
}

.lang-text {
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 15%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  word-wrap: break-word;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h1 {
  font-size: 5.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
  color: var(--text-color);
  word-wrap: break-word;
}
.home-content h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--text-color);
  word-wrap: break-word;
}

.home-content p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-color);
  word-wrap: break-word; /* ou overflow-wrap: break-word; */
}
.home-img img {
  width: 28vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3 ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}
.btn-group {
  display: flex;
  gap: 1.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}
.about-img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.about-img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.about-content p {
  font-size: 1.8rem;
}
.about-content .btn {
  margin: 3rem 0;
}
.about-img img {
  width: 28vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.about-text {
  /* Contêiner do texto "Sobre" */
  /* REMOVA height: 200px; (ou qualquer altura fixa) */
  max-height: 100px; /* Altura inicial (ajuste conforme necessário) */
  overflow: hidden; /* Oculta o texto que ultrapassa a altura */
  transition: max-height 0.3s ease-in-out; /* Transição suave */
}

.about-text.expanded {
  max-height: none;
}
.about-content h2 {
  font-size: 7rem;
  text-align: left;
  color: var(--text-color);
}
.about-content p {
  font-size: 1.8rem;
  color: var(--text-color);
}
.about-content .btn {
  margin: 3rem 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}
.services {
  background-color: var(--bg-color);
  color: black;
}
.services h2 {
  color: var(--text-color);
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}
.service-box {
  display: flex;
  justify-content: center;
  align-items: self-start;
  background-color: var(--main-color);
  height: 600px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

.service-box:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}
.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}
.service-info h4 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}
.service-info p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7;
}
.service-info i {
  font-size: 8rem;
}
.email-copy-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background: var(--bg-color);
  color: var(--main-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  font-size: 1.6rem;
  border: 2px solid var(--main-color);
  transition: 0.3 ease-in-out;
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}

/* .contact{
  background-color: var(--bg-color);
}
.contact h2{
  margin-bottom: 3rem;
  color: var(--text-color);
}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
} */
.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}
.footer .social-icons {
  text-align: center;
}
.footer ul {
  text-align: center;
  font-size: 1.8rem;
}
.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}
.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  color: var(--text-color);
}

@media (max-width: 1285px) {
  #menu-icon {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 36px;
    z-index: 1001;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none; /* Inicialmente oculto */
    flex-direction: column;
    align-items: center;
  }

  .navbar.active {
    display: flex; /* Mostra o menu quando a classe 'active' está presente */
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar.active {
    display: block;
  }
  .bx-x::before {
    content: "\f00d";
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    align-items: center;
    margin-right: 5%;
  }
  .gradient-btn {
    display: inline-flex; /* Alinha os itens horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 1rem 1.5rem; /* Ajuste o padding conforme necessário */
    gap: 0.5rem; /* Espaçamento entre a bandeira e o texto */
    font-size: 1.6rem; /* Define um tamanho de fonte base para o botão */
  }
  .contact-btn {
    display: none;
  }

  .flag-icon img {
    vertical-align: middle; /* Alinha a imagem verticalmente com o texto */
    display: block; /* Evita espaços extras abaixo da imagem */
  }
  .lang-text {
    color: var(--text-color);
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-img img {
    width: 56vw;
  }
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }
  .about img {
    width: 32vw;
  }
}
